@charset "UTF-8";

html,body {
  font-family: "noto-sans", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", MS PGothic, sans-serif;
  font-size: 13px;
  color:  #000;
  font-weight: normal;
  line-break: strict;
  word-break: break-strict;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #666;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover {
  opacity: 0.7;
}

.toGray{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.toGray:hover{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.variable {
  width: 100%;
}

/* contents */
#contents {
  margin-bottom: 30px;
}
#contents .wrap {
  width: 100%;
  max-width: 900px;
  margin: 30px auto 0;
}

.inner {
  padding: 0 5%;
}

/* section */
.section {
  margin-bottom: 30px;
}
.section:last-child {
  margin-bottom: 0;
}

h2 {
  font-family: viato, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  text-align: center;
  margin-bottom: 60px;
}
h2::after {
  display: block;
  width: 50px;
  margin: 10px auto 0;
  border-bottom: 2px solid #000;
  content: "";
}

/* js-fade */
.js-fade {
  opacity: 0;
  transform: translate(0,70px);
  -webkit-transform: translate(0,70px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.js-fade.show {
  opacity: 1.0;
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
}
/* 要素表示をずらす */
/* .js-fade:nth-of-type(2) {
  -webkit-transition-delay:150ms;
  transition-delay:150ms;
}
.js-fade:nth-of-type(3) {
  -webkit-transition-delay:300ms;
  transition-delay:300ms;
}
.js-fade:nth-of-type(5) {
  -webkit-transition-delay:150ms;
  transition-delay:150ms;
} */

img.sp {
  display: none;
}

/*----------------------------
  nav-bar
-----------------------------*/
.nav-bar {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 10;
}

.nav-trigger,
.nav-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
.nav-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.nav-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: #666;
  border-radius: 4px;
}
.nav-trigger span:nth-of-type(1) {
  top: 0;
}
.nav-trigger span:nth-of-type(2) {
  top: 20px;
}
.nav-trigger span:nth-of-type(3) {
  bottom: 0;
}

/* active */
.nav-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.nav-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.nav-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}

/*----------------------------
  global-nav
-----------------------------*/
.global-nav {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -300px;
  background: rgba(0,0,0,0.7);
  z-index: 5;
  transition: all 0.2s ease-out;
}
.global-nav.active {
  right: 0;
}

.global-nav ul {
  margin-top: 90px;
}
.global-nav ul li {
  text-align: center;
  border-top: 1px solid #ccc;
}
.global-nav ul li:last-child {
  border-bottom: 1px solid #ccc;
}
.global-nav ul li a {
  display: block;
  width: 100%;
  padding: 15px;
  color: #ccc;
  font-size: 23px;
  font-family: viato, sans-serif;
}

/*----------------------------
  main-visual
-----------------------------*/
#main-visual {
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
#main-visual.show {
  opacity: 1;
}

/*----------------------------
  works
-----------------------------*/
#works .work-lists ul {
  overflow: hidden;
}
#works .work-lists ul li {
  width: 31.5%;
  /* float: left; */
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
  margin-bottom: 2%;
  position: relative;
}
#works .work-lists ul li:nth-child(3n) {
  margin-right: 0;
}
#works .work-lists ul li a {
  display: block;
}

#works .site {
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #666;
}

#works .info {
  margin-top: 5px;
}
#works .info .url {
  word-break: break-all;
}
#works .info .title {
  margin-bottom: 5px;
}
#works .info .title span {
  border-bottom: 2px solid #666;
}
#works .info > div {
  margin-bottom: 8px;
}
#works .info > div:last-child {
  margin-bottom: 0;
}

/*----------------------------
  about
-----------------------------*/
#about .profile ul li {
  overflow: hidden;
  margin-bottom: 25px;
}
#about .profile ul li:last-child {
  margin-bottom: 0;
}
#about .profile ul li .title {
  width: 35%;
  float: left;
}
#about .profile ul li .title .name {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}
#about .profile ul li .detail {
  width: 65%;
  float: left;
}

/*----------------------------
  contact
-----------------------------*/
#contact .mail img {
  padding-right: 5px;
}
#contact .mail a {
  width: 300px;
  display: block;
  margin:  0 auto;
  text-align: center;
  padding: 20px;
  border: 3px solid #000;
  font-size: 20px;
}
#contact .mail a:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

/*----------------------------

  sp

-----------------------------*/
@media screen and (max-width: 680px) {

  #contents > .wrap {
    padding: 0 2%;
  }

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  img.pc {
    display: none;
  }
  img.sp {
    display: block;
  }

  /* nav-trigger */
  .nav-trigger {
    width: 40px;
    height: 34px;
  }
  .nav-trigger span:nth-of-type(2) {
    top: 15px;
  }
  .nav-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
  }
  .nav-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
  }

  /* global-nav */
  .global-nav {
    width: 60%;
    right: -60%;
  }

  /* works */
  #works .site {
    font-size: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #666;
  }

  #works .work-lists ul li {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-bottom: 5%;
    position: relative;
  }
  #works .info {
    margin-top: 5px;
  }
  #works .info .title {
    margin-bottom: 5px;
  }
  #works .info > div {
    margin-bottom: 5px;
  }

  /* about */
  #about .profile ul li .title {
    margin-bottom: 2%;
    border-bottom: 2px solid #666;
  }
  #about .profile ul li .title,
  #about .profile ul li .detail {
    width: 100%;
    float: none;
  }
  #about .profile ul li .title .name {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
  }

}