/* ==========================================================================
   hover
   ========================================================================== */

/* 使い方
    タブレットやSPのデバイスでは効かないように
    @include hover() {
        color: $color-red;
    }
*/

@mixin hover() {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
}

// 書影等のHover（opacity 0.7）
@mixin opacity-hover() {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            opacity: 0.7;
        }
    }
}

// テキストリンク用のhover
@mixin text-hover() {
    @media (hover: hover) and (pointer: fine) {
        opacity: 1;

        &:hover {
            text-decoration: none;
        }
    }
}
