@use '../tools/color-scheme' as *;

/*
    汎用カラー
*/

// プライマリー
// @include set-color(--primary-color, #000, $hover: #1e293b);

// $primary-color: var(--primary-color);
// $primary-color-hover: var(--primary-color-hover);

// 背景
// @include set-color(--background-color, #eef0f2, $hover: #caccce, $dark: #222);

// $background-color: var(--background-color);
// $background-color-hover: var(--background-color-hover);

// テキスト
@include set-color(--text-color, #000, $hover: #1e293b);

$text-color: var(--text-color);
$text-color-hover: var(--text-color-hover);

@include set-color(--text-color-gray, #475569, $hover: #64748b);

$text-color-gray: var(--text-color-gray);
$text-color-gray-hover: var(--text-color-gray-hover);

// ボーダー
@include set-color(--border-color, #cbd5e1);

$border-color: var(--border-color);
