/*
    フッター
*/
@use '../../01-utils' as *;

.c-footer__inner {
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 15px 0;
}

.c-footer__copyright {
    font-size: font-size(14);
    text-align: center;
}
