@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

// width
$content-width: 1000px;
$min-width: 990px;
$sp-content-width: 96%;

// fonts
$basic-font-family:'Noto Sans Japanese',"ヒラギノ角ゴ Pro W6","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",MS PGothic,sans-serif;
$FOT-Tsuku: fot-tsukuardgothic-std, sans-serif;
$meiryo: "メイリオ";

// font-size
$font-xxs: 10px;
$font-xs: 11px;
$font-s: 12px;
$default-font-size: 13px;
$sp-default-font-size: 12px;
$font-m: 14px;
$font-l: 15px;
$font-xl: 16px;
$font-xxl: 17px;

// colors
$default-color: #666;
$black: #000;
$dark-grey: #cdcdcd;
$grey: #efefef;
$light-grey: #fafafa;
$blue: #007ebe;
$white: #fff;

// link-color
$link-color: #666 !default;
$link-hover-color: lighten($link-color, 15%) !default;

// Gutter
$gutter: 20px !default;
$gutter-large: $gutter * 2 !default;

// line-height
$line-height: 1.75;