@import "reset";
@import "app.vars";
@import "utility";

html,body {
  font-family: $basic-font-family;
  font-size: $default-font-size;
  color:  $default-color;
  font-weight: normal;
  line-break: strict;
  word-break: break-strict;
  text-size-adjust: 100%;
  line-height: $line-height;
}

#app {
  background: $light-grey;
}

a {
  color: $link-color;
  transition: all 0.2s ease;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: underline;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}
a.no-underline {
  text-decoration: none;
}

p + p {
  margin-top: 10px;
}

.img-responsive {
  width: 100%;
}

/* content-block */
.container {
  width: $content-width;
  margin: 0 auto;
}
.inner {
  padding: 0 5%;
}

/* js-fade */
.js-fade {
  opacity: 0;
  transform: translate(0,70px);
  -webkit-transform: translate(0,70px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.show {
    opacity: 1.0;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
  }
}
/* 要素表示をずらす */
.js-fade {
  &:nth-of-type(2),
  &:nth-of-type(5),
  &:nth-of-type(8),
  &:nth-of-type(11) {
    transition-delay: 150ms;
  }
  &:nth-of-type(3),
  &:nth-of-type(6),
  &:nth-of-type(9),
  &:nth-of-type(12) {
    transition-delay: 300ms;
  }
}

img.sp {
  display: none;
}

/*----------------------------
  sp-g-nav
-----------------------------*/
.sp-g-nav {
  display: none;
}

/*----------------------------
  navbar
-----------------------------*/
h1 {
  float: left;
  font-size: 17px;
  /* font-weight: bold; */
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.5s ease-in-out;
  &.show {
    background: rgba(255,255,255,1);
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.1);
  }
}
.navbar.show {
  h1,
  .g-nav a {
    color: lighten($default-color, 20%);
  }
}
.navbar .container {
  overflow: hidden;
  padding: 10px 0;
}
.g-nav {
  float: right;
}
.g-nav ul li {
  margin: 0 10px;
  display: inline-block;
}
.g-nav a {
  font-size: 15px;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

/*----------------------------
  footer
-----------------------------*/
#g-footer {
  padding: 15px;
  background: linear-gradient( 135deg, rgba(108, 148, 211, 0.8), rgba(111, 210, 237, 0.5));
  text-align: center;
}
#g-footer small {
  font-size: 14px;
  color: $white;
}

/*----------------------------

  tablet

-----------------------------*/
@media screen and (max-width: 1000px) {
  .container {
    width: $sp-content-width;
  }
}

/*----------------------------

  sp

-----------------------------*/
@media screen and (max-width: 767px) {
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  img.pc {
    display: none;
  }
  img.sp {
    display: block;
  }

  .navbar {
    display: none;
  }

  /*----------------------------
    sp-g-nav
  -----------------------------*/
  .sp-g-nav {
    display: block;
  }

  /* nav-menu */
  .nav-menu {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10;
  }

  .nav-trigger,
  .nav-trigger span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }
  .nav-trigger {
    position: relative;
    width: 30px;
    height: 22px;
  }
  .nav-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: lighten($default-color, 30%);
    border-radius: 4px;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 10px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }

  /* active */
  .nav-trigger.active span {
    &:nth-of-type(1) {
      -webkit-transform: translateY(10px) rotate(-45deg);
      transform: translateY(10px) rotate(-45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      -webkit-transform: translateY(-10px) rotate(45deg);
      transform: translateY(-10px) rotate(45deg);
    }
  }

  /* sp-g-nav */
  .sp-g-nav nav {
    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -60%;
    background: rgba(0,0,0,0.5);
    z-index: 5;
    transition: all 0.2s ease-out;
  }
  .sp-g-nav nav.active {
    right: 0;
  }

  .sp-g-nav nav ul {
    margin-top: 90px;
  }
  .sp-g-nav nav ul li {
    text-align: center;
    border-top: 1px solid #ccc;
  }
  .sp-g-nav nav ul li:last-child {
    border-bottom: 1px solid #ccc;
  }
  .sp-g-nav nav ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    color: #ccc;
    font-size: 18px;
    font-family: viato, sans-serif;
  }
}
