@use '../01-utils' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    text-size-adjust: 100%;
}

body {
    display: block;
    min-height: 100vh;
    font-family: $base-font-family;
    line-height: 1.5;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
