<!-- header -->

<header class="c-header">
  <div class="c-header__inner">
    {{#unless isTop}}
    <div class="c-header__profile js-header-profile">
      <a href="/">
        <figure class="c-header__profile-logo">
          <img
            src="/src/public/images/icon_profile.jpg"
            width="30"
            height="30"
            alt="プロフィールアイコン"
          />
        </figure>
        <p class="c-header__profile-text">nochio</p>
      </a>
    </div>
    {{/unless}}
  </div>
</header>
