/*
    definitionList
*/
@use '../../01-utils' as *;
@use '../../10-objects/subTitle/subTitle';

.c-definition-list {
    dt {
        > a {
            &:hover {
                .o-sub-title {
                    span {
                        color: $text-color-hover;
                    }
                }
            }

            &._external-link {
                .o-sub-title {
                    span {
                        display: inline-flex;
                        align-items: center;

                        &::after {
                            content: '\e89e';
                            display: inline-block;
                            margin-left: 4px;
                            font-family: 'Material Symbols Outlined';
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    dd {
        margin-top: 4px;
        font-size: font-size(14);
    }
}
