<section id="about" class="section">
  <div class="container">
    <h2 class="section_title js-target js-top-bottom">about</h2>
    <div class="profile-block">
      <div class="profile-block_visual js-target js-bottom-top">
        <img src="/src/public/images/about_visual.jpg" alt="" />
      </div>
      <div class="profile-block_info js-target js-bottom-top">
        <dl class="profile-detail">
          <div class="profile-detail_title">Profile</div>
          <div class="profile-detail_desc">
            <p>
              埼玉県出身でフロントエンドエンジニアとしてWeb制作を行っています。<br />
              大学では農学を学んでいましたが、ものづくりが好きで身近にあったWEBに興味があり、独学で勉強しWEB業界に入りました。<br />
              WEB制作ではコーポレートサイトやキャンペーンサイトなどを中心に開発の経験があります。またEC制作会社では2年目にコーダー主担当として大手アパレルブランンドのECサイトのコーディングを担当させていただきました。
            </p>
            <p>
              WEB業界を経験した後、若いうちに今まで学んできたことを活かして地域貢献したいと思い、1年間地域おこし協力隊として長野県に住んでおりました。<br />地域おこし協力隊ではイタリヤ野菜の栽培・販売や、栽培したとうもろこしを使ったもろこしジェラートを商品開発しました。
            </p>
            <p>
              Web制作では見やすく管理しやすいコーディングとお客様目線になってサイトを作ることを常に心がけています。
            </p>
          </div>
        </dl>
        <dl class="profile-detail">
          <div class="profile-detail_title">Like</div>
          <div class="profile-detail_desc">
            <p>
              ・温泉・サウナ<br />
              ・ゲーム<br />
              ・料理（スパイスカレー、無水料理、燻製料理、つくりおきおかずなど）<br />
              ・音楽（ライブ、フェス）<br />
              ・映画・アニメ<br />
              ・ヨガ<br />
              ・キャンプ（今後趣味にしたい）
            </p>
          </div>
        </dl>
        <dl class="profile-detail">
          <div class="profile-detail_title">Links</div>
          <div class="profile-detail_desc">
            <p>
              作ったサービスや気づいたこと、備忘録などを少しずつ追加していきたいと思っています。
            </p>
            <p>
              Blog：<a href="https://nochi-log.netlify.app" target="_blank"
                >https://nochi-log.netlify.app</a
              ><br />
              Qiita：<a href="https://qiita.com/nochifuchi" target="_blank"
                >https://qiita.com/nochifuchi</a
              ><br />
              Github：<a href="https://github.com/nochifuchi" target="_blank"
                >https://github.com/nochifuchi</a
              >
            </p>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
