<section id="skill" class="section">
  <div class="container">
    <h2 class="section_title js-target js-top-bottom">skill</h2>
    <div class="skill-block">
      <div class="skill-block_icon js-target js-bottom-top">
        <dl class="skill-detail">
          <dt class="skill-detail_title">コーディング</dt>
          <dd class="skill-detail_info">
            <ul class="skill-detail_lists">
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/html.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">HTML5</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/css.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">CSS3</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/sass.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">Sass</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/gulp.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">Gulp</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/javascript.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">JavaScript</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/vue.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">Vue.js</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/nuxt.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">Nuxt.js</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/angular.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">Angular</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/gatsby.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">Gatsby.js</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/php.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">PHP</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/git.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">Git</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/vscode.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">VS Code</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/ga.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">Google Analytics</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/python.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">Python</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/django.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">Django</div>
              </li>
            </ul>
          </dd>
        </dl>
        <dl class="kill-detail">
          <dt class="skill-detail_title">Desgin</dt>
          <dd class="skill-detail_info">
            <ul class="skill-detail_lists">
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/photoshop.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">Photshop</div>
              </li>
              <li class="skill-detail_item">
                <div class="skill-detail_visual">
                  <object
                    type="image/svg+xml"
                    data="/src/public/images/icons/adobexd.svg"
                    width="50"
                    height="50"
                  ></object>
                </div>
                <div class="skill-detail_name">Adobe XD</div>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="skill-block_description js-target js-bottom-top">
        <dl class="skill-detail">
          <dt class="skill-detail_title">Coding</dt>
          <dd class="skill-detail_info">
            <div class="skill-detail_desc">
              <p>
                《HTML・CSS》（実務経験6年程度）<br />
                ・PC・スマホ・タブレットなどマルチデバイス環境でのコーディング<br />
                ・BEMやECSSなどのCSSルールに基づいたコンポーネントを意識したコーディング<br />
                ・SCSSやGulp、emmetを使用した効率の良いコーディング<br />
                ・SEOを意識したセマンティックなコーディング
              </p>
              <p>
                《Javascript》（実務経験5年程度）<br />
                ・基礎的な知識・文法(ES6)、プラグインの導入<br />
                ・簡単な演出・制御（ナビゲーション作成、フォーム関連の制御、スライダー作成など）<br />
                ・Vue.js、Nuxt.js、Angular、GatsbyJSなどJavascriptフレームワークを使用したサイト構築
              </p>
              <p>
                《PHP》（実務経験2年程度）<br />
                ・基礎的な知識・文法<br />
                ・CMSと連携したページ構築
              </p>
              <p>
                《Git》<br />
                ・基本的な知識・操作、Git flowに沿ったチームでの開発
              </p>
              <p>
                《テキストエディタ》<br />
                ・Visual Studio Code
              </p>
              <p>
                《Web解析》<br />
                ・Google アナリティクスの基本的な知識（GAIQ取得）
              </p>
              <p>
                《Python》（独学）<br />
                ・基礎的な知識・文法 ・Django、Flaskを使ったWebアプリケーションの開発
              </p>
              <p>
                《SQL》（独学）<br />
                ・基礎的な知識（PostgreSQL）
              </p>
            </div>
          </dd>
        </dl>
        <dl class="skill-detail">
          <dt class="skill-detail_title">デザイン</dt>
          <dd class="skill-detail_info">
            <div class="skill-detail_desc">
              <p>
                《Photoshop》（実務経験３年程度）<br />
                ・基本的な知識・操作<br />
                ・簡単なバナー作成
              </p>
              <p>
                《Adobe XD》（実務経験2年程度）<br />
                ・基本的な知識・操作<br />
                ・簡単なデザイン作成
              </p>
              <p>
                《Sketch》<br />
                ・基本的な知識・操作
              </p>
            </div>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>
