<div class="sp-menu">
  <div class="menu-btn">
    <div class="menu-btn_trigger">
      <span class="menu-btn_bar"></span>
      <span class="menu-btn_bar"></span>
      <span class="menu-btn_bar"></span>
    </div>
  </div>
  <nav class="sp-nav">
    <ul class="sp-nav_lists">
      <li class="sp-nav_item"><a href="#main-visual">home</a></li>
      <li class="sp-nav_item"><a href="#works">Works</a></li>
      <li class="sp-nav_item"><a href="#about">About</a></li>
      <li class="sp-nav_item"><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</div>
