<section id="works" class="section">
  <div class="container">
    <h2 class="section_title js-target js-top-bottom">works</h2>
    <div class="work-lists">
      <dl class="work-lists_block js-target js-bottom-top">
        <dt class="work-lists_title">e-JINZAI for business（企業向け研修サービス）</dt>
        <dd class="work-lists_info">
          <div class="work-lists_visual">
            <a href="https://business.ejinzai.jp/" target="_blank" class="img-grey">
              <img
                src="/src/public/images/work_business.jpg"
                alt="e-JINZAI for business（企業向け研修サービス）"
                class="img-responsive"
              />
            </a>
          </div>
          <div class="work-detail">
            <ul class="work-detail_lists">
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--url"><span>URL</span></div>
                <div class="work-detail_info">
                  <a href="https://business.ejinzai.jp/" target="_blank"
                    >https://business.ejinzai.jp/</a
                  >
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--tool"><span>使用ツール</span></div>
                <div class="work-detail_info">
                  HTML・CSS(SCSS) / PHP / JavaScript<br />VS code / Adobe XD / Photoshop / Git
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--charge"><span>担当</span></div>
                <div class="work-detail_info">
                  新規コンテンツの制作・追加やリニューアル、更新作業など
                </div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
      <dl class="work-lists_block js-target js-bottom-top">
        <dt class="work-lists_title">e-JINZAI for finance（金融向け研修サービス）</dt>
        <dd class="work-lists_info">
          <div class="work-lists_visual">
            <a href="https://www.mw-ejinzai.com/" target="_blank" class="img-grey">
              <img
                src="/src/public/images/work_finance.jpg"
                alt="e-JINZAI for finance（金融向け研修サービス）"
                class="img-responsive"
              />
            </a>
          </div>
          <div class="work-detail">
            <ul class="work-detail_lists">
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--url"><span>URL</span></div>
                <div class="work-detail_info">
                  <a href="https://www.mw-ejinzai.com/" target="_blank"
                    >https://www.mw-ejinzai.com/</a
                  >
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--tool"><span>使用ツール</span></div>
                <div class="work-detail_info">
                  HTML・CSS(SCSS) / PHP / JavaScript<br />VS code / Adobe XD / Photoshop / Git
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--charge"><span>担当</span></div>
                <div class="work-detail_info">
                  新規コンテンツの制作・追加やリニューアル、更新作業など
                </div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
      <dl class="work-lists_block js-target js-bottom-top">
        <dt class="work-lists_title">e-JINZAI for medical（医療向け研修サービス）</dt>
        <dd class="work-lists_info">
          <div class="work-lists_visual">
            <a href="https://www.ejinzai.jp/medical_welfare/" target="_blank" class="img-grey">
              <img
                src="/src/public/images/work_medical.jpg"
                alt="e-JINZAI for medical（医療向け研修サービス）"
                class="img-responsive"
              />
            </a>
          </div>
          <div class="work-detail">
            <ul class="work-detail_lists">
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--url"><span>URL</span></div>
                <div class="work-detail_info">
                  <a href="https://www.ejinzai.jp/medical_welfare/" target="_blank"
                    >https://www.ejinzai.jp/medical_welfare/</a
                  >
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--tool"><span>使用ツール</span></div>
                <div class="work-detail_info">
                  HTML・CSS(SCSS) / PHP / JavaScript<br />VS code / Adobe XD / Photoshop / Git
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--charge"><span>担当</span></div>
                <div class="work-detail_info">サイトの全面リニューアル</div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
      <dl class="work-lists_block js-target js-bottom-top">
        <dt class="work-lists_title">講師派遣サービス</dt>
        <dd class="work-lists_info">
          <div class="work-lists_visual">
            <a href="https://www.bmc-net.jp/haken/" target="_blank" class="img-grey">
              <img
                src="/src/public/images/work_haken.jpg"
                alt="講師派遣サービス"
                class="img-responsive"
              />
            </a>
          </div>
          <div class="work-detail">
            <ul class="work-detail_lists">
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--url"><span>URL</span></div>
                <div class="work-detail_info">
                  <a href="https://www.bmc-net.jp/haken/" target="_blank"
                    >https://www.bmc-net.jp/haken/</a
                  >
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--tool"><span>使用ツール</span></div>
                <div class="work-detail_info">
                  HTML・CSS(SCSS) / Vue.js / Nuxt.js<br />VS code / Adobe XD / Git
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--charge"><span>担当</span></div>
                <div class="work-detail_info">
                  サーバーサイドエンジニアと連携したNuxt.jsを使用したフロントエンド開発
                </div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
      <dl class="work-lists_block js-target js-bottom-top">
        <dt class="work-lists_title">コンサルタント養成講座（一例）</dt>
        <dd class="work-lists_info">
          <div class="work-lists_visual">
            <a
              href="https://www.bmc-net.jp/instructional_designer/"
              target="_blank"
              class="img-grey"
            >
              <img
                src="/src/public/images/work_consultant.jpg"
                alt="コンサルタント養成講座（一例）"
                class="img-responsive"
              />
            </a>
          </div>
          <div class="work-detail">
            <ul class="work-detail_lists">
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--url"><span>URL</span></div>
                <div class="work-detail_info">
                  <a href="https://www.bmc-net.jp/instructional_designer/" target="_blank"
                    >https://www.bmc-net.jp/instructional_designer/</a
                  >
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--tool"><span>使用ツール</span></div>
                <div class="work-detail_info">
                  HTML・CSS(SCSS)<br />VS code / Photoshop / Indesign / Git
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--charge"><span>担当</span></div>
                <div class="work-detail_info">
                  LP制作、バナー作成、紙媒体（パンフレット）のデザインからWEB用のデザイン作成
                </div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
      <dl class="work-lists_block js-target js-bottom-top">
        <dt class="work-lists_title">ブログ（独学）</dt>
        <dd class="work-lists_info">
          <div class="work-lists_visual">
            <a href="https://nochi-log.netlify.app/" target="_blank" class="img-grey">
              <img
                src="/src/public/images/work_nochilog.jpg"
                alt="ブログ（独学）"
                class="img-responsive"
              />
            </a>
          </div>
          <div class="work-detail">
            <ul class="work-detail_lists">
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--url"><span>URL</span></div>
                <div class="work-detail_info">
                  <a href="https://nochi-log.netlify.app/" target="_blank"
                    >https://nochi-log.netlify.app/</a
                  >
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--tool"><span>使用ツール</span></div>
                <div class="work-detail_info">
                  HTML・CSS(SCSS) / Gatsby.js / Contentful<br />Netlify / VS code / Adobe XD
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--charge"><span>担当</span></div>
                <div class="work-detail_info">
                  Gatsby.jsを使用し、CMS（Contentful）と連携したブログ作成
                </div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
      <dl class="work-lists_block js-target js-bottom-top">
        <dt class="work-lists_title">セイコーウオッチ 公式WEBサイト</dt>
        <dd class="work-lists_info">
          <div class="work-lists_visual">
            <a href="https://www.seikowatches.com" target="_blank" class="img-grey">
              <img
                src="/src/public/images/work_seiko.jpg"
                alt="セイコーウオッチ 公式WEBサイト"
                class="img-responsive"
              />
            </a>
          </div>
          <div class="work-detail">
            <ul class="work-detail_lists">
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--url"><span>URL</span></div>
                <div class="work-detail_info">
                  <a href="https://www.seikowatches.com" target="_blank"
                    >https://www.seikowatches.com</a
                  >
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--tool"><span>使用ツール</span></div>
                <div class="work-detail_info">
                  HTML・CSS(SCSS) / JavaScript / Angular<br />VS code / Sketch / Git
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--charge"><span>担当</span></div>
                <div class="work-detail_info">新規ページの追加や修正などの更新作業など</div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
      <dl class="work-lists_block js-target js-bottom-top">
        <dt class="work-lists_title">グランドセイコー公式サイト</dt>
        <dd class="work-lists_info">
          <div class="work-lists_visual">
            <a href="https://www.grand-seiko.com" target="_blank" class="img-grey">
              <img
                src="/src/public/images/work_grandseiko.jpg"
                alt="グランドセイコー公式サイト"
                class="img-responsive"
              />
            </a>
          </div>
          <div class="work-detail">
            <ul class="work-detail_lists">
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--url"><span>URL</span></div>
                <div class="work-detail_info">
                  <a href="https://www.grand-seiko.com" target="_blank"
                    >https://www.grand-seiko.com</a
                  >
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--tool"><span>使用ツール</span></div>
                <div class="work-detail_info">
                  HTML・CSS(SCSS) / JavaScript / Angular<br />VS code / Sketch / Git
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--charge"><span>担当</span></div>
                <div class="work-detail_info">ページ修正や改修などの更新作業</div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
      <dl class="work-lists_block js-target js-bottom-top">
        <dt class="work-lists_title">Nintendo トピックス</dt>
        <dd class="work-lists_info">
          <div class="work-lists_visual">
            <a href="https://topics.nintendo.co.jp" target="_blank" class="img-grey">
              <img
                src="/src/public/images/work_nintendo.jpg"
                alt="Nintendo トピックス"
                class="img-responsive"
              />
            </a>
          </div>
          <div class="work-detail">
            <ul class="work-detail_lists">
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--url"><span>URL</span></div>
                <div class="work-detail_info">
                  <a href="https://topics.nintendo.co.jp" target="_blank"
                    >https://topics.nintendo.co.jp</a
                  >
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--tool"><span>使用ツール</span></div>
                <div class="work-detail_info">
                  HTML・CSS(SCSS) / JavaScript / Angular<br />VS code / Sketch / Git
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--charge"><span>担当</span></div>
                <div class="work-detail_info">ページ修正や改修などの更新作業</div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
      <dl class="work-lists_block js-target js-bottom-top">
        <dt class="work-lists_title">ELEGANCE 2020 SPRING（現在は公開終了）</dt>
        <dd class="work-lists_info">
          <div class="work-lists_visual">
            <img
              src="/src/public/images/work_elegance.jpg"
              alt="ELEGANCE 2020 SPRING（現在は公開終了）"
              class="img-responsive"
            />
          </div>
          <div class="work-detail">
            <ul class="work-detail_lists">
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--tool"><span>使用ツール</span></div>
                <div class="work-detail_info">
                  HTML・CSS(SCSS) / EJS / JavaScript<br />VS code / Photoshop / Git
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--charge"><span>担当</span></div>
                <div class="work-detail_info">LP制作</div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
      <dl class="work-lists_block js-target js-bottom-top">
        <dt class="work-lists_title">ラインアート シャルマン</dt>
        <dd class="work-lists_info">
          <div class="work-lists_visual">
            <a href="https://www.lineart-charmant.com/jp-ja" target="_blank" class="img-grey">
              <img
                src="/src/public/images/work_lineart.jpg"
                alt="ラインアート シャルマン"
                class="img-responsive"
              />
            </a>
          </div>
          <div class="work-detail">
            <ul class="work-detail_lists">
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--url"><span>URL</span></div>
                <div class="work-detail_info">
                  <a href="https://www.lineart-charmant.com/jp-ja" target="_blank"
                    >https://www.lineart-charmant.com/jp-ja</a
                  >
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--tool"><span>使用ツール</span></div>
                <div class="work-detail_info">
                  HTML・CSS(SCSS) / JavaScript / Angular<br />VS code / Sketch / Git
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--charge"><span>担当</span></div>
                <div class="work-detail_info">新規ページ追加やページ改修などの更新作業</div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
      <dl class="work-lists_block js-target js-bottom-top">
        <dt class="work-lists_title">StudyLog - 学習記録サイト（独学）</dt>
        <dd class="work-lists_info">
          <div class="work-lists_visual">
            <a href="https://flask-studylog.herokuapp.com" target="_blank" class="img-grey">
              <img
                src="/src/public/images/work_studylog.jpg"
                alt="StudyLog - 学習記録サイト"
                class="img-responsive"
              />
            </a>
          </div>
          <div class="work-detail">
            <ul class="work-detail_lists">
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--url"><span>URL</span></div>
                <div class="work-detail_info">
                  <a href="https://flask-studylog.herokuapp.com" target="_blank"
                    >https://flask-studylog.herokuapp.com</a
                  >
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--tool"><span>使用ツール</span></div>
                <div class="work-detail_info">
                  Flask / Python / HTML・CSS(SASS) / MySQL<br />Heroku
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--charge"><span>担当</span></div>
                <div class="work-detail_info">
                  Flaskを使い日々の学習を記録できるサービス。主な機能に関しては<a
                    href="https://github.com/nochifuchi/flask-studylog"
                    target="_blank"
                    >Github</a
                  >をご覧ください。
                </div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
      <dl class="work-lists_block js-target js-bottom-top">
        <dt class="work-lists_title">PugPic パグ好きのための写真投稿サイト（独学）</dt>
        <dd class="work-lists_info">
          <div class="work-lists_visual">
            <a href="https://pugpic-django.herokuapp.com" target="_blank" class="img-grey">
              <img
                src="/src/public/images/work_pugpic.jpg"
                alt="PugPic - パグ好きのための写真投稿サイト"
                class="img-responsive"
              />
            </a>
          </div>
          <div class="work-detail">
            <ul class="work-detail_lists">
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--url"><span>URL</span></div>
                <div class="work-detail_info">
                  <a href="https://pugpic-django.herokuapp.com" target="_blank"
                    >https://pugpic-django.herokuapp.com</a
                  >
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--tool"><span>使用ツール</span></div>
                <div class="work-detail_info">
                  Django / Python / HTML・CSS(SASS) / jQuey<br />SQlite / Heroku / Cloudinary
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--charge"><span>担当</span></div>
                <div class="work-detail_info">
                  Djangoを使用した写真投稿サイト。主な機能に関しては<a
                    href="https://github.com/nochifuchi/pugpic-django"
                    target="_blank"
                    >Github</a
                  >をご覧ください。
                </div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
      <dl class="work-lists_block js-target js-bottom-top">
        <dt class="work-lists_title">ONWARD CROSSET</dt>
        <dd class="work-lists_info">
          <div class="work-lists_visual">
            <a href="https://crosset.onward.co.jp" target="_blank" class="img-grey">
              <img
                src="/src/public/images/work_onward.jpg"
                alt="ONWARD CROSSET"
                class="img-responsive"
              />
            </a>
          </div>
          <div class="work-detail">
            <ul class="work-detail_lists">
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--url"><span>URL</span></div>
                <div class="work-detail_info">
                  <a href="https://crosset.onward.co.jp" target="_blank"
                    >https://crosset.onward.co.jp</a
                  >
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--tool"><span>使用ツール</span></div>
                <div class="work-detail_info">
                  HTML・CSS(SASS) / PHP / jQuery / MovableType<br />Photoshop / Sublime Text 2
                </div>
              </li>
              <li class="work-detail_item">
                <div class="work-detail_title work-detail_title--charge"><span>担当</span></div>
                <div class="work-detail_info">更新作業やページ改修。サイトの全面リニューアル</div>
              </li>
            </ul>
          </div>
        </dd>
      </dl>
    </div>
  </div>
</section>
